# allow non root users acces to usb camera devices 
SUBSYSTEM=="usb", ATTRS{idVendor}=="2825", ATTRS{idProduct}=="*", MODE="0666", GROUP="users"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1711", ATTRS{idProduct}=="*", MODE="0666", GROUP="users"
